# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
wheels/
*.egg

# Entorno virtual
venv/
env/
.venv/

# =========================
# Variables de entorno (credenciales)
# =========================
.env

# =========================
# IDE / Editores
# =========================
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# =========================
# Sistema operativo
# =========================
Thumbs.db
.DS_Store
Desktop.ini
$RECYCLE.BIN/

# =========================
# Logs y temporales
# =========================
*.log
*.tmp
*.sqlite3
*.db

# =========================
# Variables de entorno falsas (sin punto)
# =========================
app/env
